<p></p>
<mat-form-field appearance="outline" color="accent" class="product-create-items">
    <mat-label>Ürün Adı</mat-label>
    <input matInput #txtName>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent" class="product-create-items">
    <mat-label>Stok Miktarı</mat-label>
    <input matInput type="number" min="0" placeholder="0" #txtStock>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent" class="product-create-items">
    <mat-label>Fiyat</mat-label>
    <input matInput type="number" min="0" placeholder="0" #txtPrice>
  </mat-form-field>
<button mat-flat-button color="accent" class="product-create-items" (click)="create(txtName, txtStock, txtPrice)">Ürün Ekle</button>